@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
  }

  @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
  .playwrite-cu-font {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  
  /* shared class */
  .btn-primary{
    color: white;
    border-radius: 42px;
    background: #E6533C;
    margin: 24px 0;
    padding: 14px 36px;
  }

  .description-color{
    color: rgba(255, 255, 255, 0.5);
  }
  .color{
    color: white;
  }

  body{
    background-color: #000000;
    width: 100%;
    margin: 0;
    
  }

  /* navbar styles */
  header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    
    
  }

  .header-part{
    /* max-width: 1100px; */
    width: 80%;
    margin: 0 auto;
    
  }

  .navbar{
    display: flex;
    justify-content: space-between;
  

  }
  .nav-title{
    color: #E6533C;
    font-size: 2.2rem;
  }

  .nav-menu ul{
    display: flex;
    gap: 60px;
    box-sizing: border-box;
    margin-top: 39px;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px; 
  }
  .nav-item{
    list-style: none;
    
  }
  .nav-links{
    text-decoration: none;
    color: white;
  }
  .home-color{
    padding: 2px 14px;
    border-radius: 46px;
    background-color: #E6533C;
  }
  /* banner styles */
  .banner-container{
    color: white;
  }
  .banner-title{
    font-size: 4.5rem;
    font-weight: 900;
  }

  .banner{
    display: flex;
    justify-content: space-between;
    gap: 110px;
  }
  .banner-description{
    width: 80%;
  }
  #btn-download{
    color: white;
    background: black;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    margin: 0 12px;
    padding: 14px 36px;

  }
  .video-badge{
    margin-left: -64px;
    margin-top: -160px;
  }
  .video-badge-btn{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 12px;
    backdrop-filter: blur(20px) ;
    background: rgba(48, 48, 48, 0.54);
    padding: 15px 40px;

  }
  .video-badge-btn{
    display: flex;
    gap: 8px;
  }
  .ellipse{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    margin-top: 8px;
    margin-left: -24px;
    border-radius: 50%;
  
  }
  .video-badge-number{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
  }
  .workout-badge{
    margin-top: -385px;
    margin-left: 230px;
    max-width: 290px;
    
  
  }
  .workout-badge-btn{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 16px 24px;
  }
  .workout-badge-number{
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
  }
  .badge-description{
    font-size: 0.7rem;
  }

  /* change  habit section styles */

  main{
    margin: 100px auto;
    /* max-width: 1060px; */
    width: 80%;
  }
  .change-habits{
    margin-bottom: 100px;
  }
  .change-habit-title{
    color: white;
    font-size: 3rem;
    font-weight: 900;
  }
  .change-habit-title-content{
    text-align: center;
  }
  .change-habits-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
  }
  .img{
    border-radius: 50%;
  }
  .change-habit-content-title{
    color: white;
  }

  /* run an extra section styles */
  .run-extra{
    background: rgb(34, 34, 34);
    border-radius: 18px;
  }
  .run-extra-container{
    display: flex;
    gap: 130px;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 70px;
    
  
  }
  .run-extra-content{
    margin-left: 50px;
  }
  .run-extra-title{
    font-size: 3rem;
    font-weight: 900;
  }
  /* .run-extra-img{
    object-fit: cover;
    transform: scale(2.5) translate(-61px,12%);
  } */
  
  .run-extra-img img{
    width: 365px;
    height: 312px;
    margin: 30px;
    border-radius: 18px;
   
  }
  .btn-run{
    padding: 15px 54px;
  }

  /* BMI-calculate section styles */
  .bmi-container{
    margin: 80px 385px;
  }
  .bmi-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
  }
  .bmi-description{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 14px;
  }

  /* meet our team section styles */
  .meet-our-team-container{
    text-align: center;
    margin-bottom: 58px;
  }
  .meet-team-content img{
    width: 375px;
    height: 270px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
  }
  .meet-team{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
  }

  .team-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
  }
  .meet-team{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    justify-items: center;
    grid-row-gap: 20px;
    padding: 20px;
  
  
  }
  .trainer-name{
    margin-bottom: -13px;
    font-size: 1.2rem;
    font-weight: 900;
  }
  .trainer-content{
    margin-top: -100px;
    margin-left: 10px;
  }


  /* mobile device media query */

  @media screen and (max-width:576px){
    .nav-menu ul{
      /* visibility: hidden; */
      display: none;

    }
    .fa-bars{
  
      display: block;
      /* visibility: visible; */
      margin-left: 90px;
      margin-top: 40px;
     
      
    }
    .fa-play{
      /* visibility: visible; */
      display: block;
      margin-top: 10px;
      margin-left: 3px;
      
    }
    .nav-menu{
      margin-top: -40px;
    }
    .banner{
      flex-direction: column;
    }
    header{
      margin-right: 0px;
      
    }
    .workout-badge{
      margin-top:-390px;
      margin-left:170px ;
    }
    /* .workout-badge-btn{
      margin-left: -65px;
      margin-top: -70px;
    } */

    .change-habits-container{
      grid-template-columns: repeat(1,1fr);
      text-align: center;
    }
    .change-habit-title-content{
      margin: 0 auto;
    }
    /* .change-habits{
      margin: 0;
    } */
    
    .banner-btn{
      display: flex;
      justify-content:space-between;
    }
    #btn-download{
      margin: 25px 0px;
      padding: 14px 36px;
      
  
    }
    .banner-img{
      margin-left: -29px;
    }
    .video-badge-btn{
      margin-left: 40px;
      width: 150px;
      height: 66px;
      gap: 20px;
      padding-right:7px;
      margin-top: -330px;
     
      

    }
    
    .ellipse{
      width: 30px;
      height: 30px;
      margin-top: 5px;
    }
    
    .video-badge-number{
      font-size: 1.1rem;
    }
    .badge-description{
      font-size: 0.8rem;
    }
    
    
    /* .nav-menu{
      width: 0px;
      height: 0px;
    } */
   
    .banner-title{
      font-size: 2.2rem;
      font-weight: 900;
  
  
    }
    .banner-right{
      margin-bottom: 490px;

    }
    
    .change-habits{
      text-align: center;
      margin-left: -10px;
    }


    /* .banner-container{
      margin-left: 20px;
      margin-right: 20px;
    } */
    .banner-description{
      font-size: 1rem;
      font-weight: 400;
    }
    .change-habit-title{
      font-size: 2rem;
    }

    /* run an extra */
    .run-extra-container{
      flex-direction: column;
      
    }
    .run-extra-img img {
    
      width: 248px;
      height: 170px;
      margin-top: -125px;
    
    }
    .run-extra-title{
      font-size: 2rem;
    }
    .run-extra-content{
      margin-right: 42px;
    }
    .btn-run{
      width: 100%;
    }
    /* meet our team  */
    .meet-team{
      grid-template-columns: repeat(1,1fr);
    }
    .meet-team-content img{
      width:300px;
    }
    .team-title{
      font-size: 2rem;
    }
    .display-mobile{
      display: none;
    }

 
    
    
  }
/* big device */
  /* @media screen and (max-width:1440px){


  }

   */
  
  